body {
  margin: 0;
  min-height:100vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 5px #0d5f40;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
img {
  display: block;
  margin: auto;
}
body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  z-index: -1;
  width: 1500px;
  height: 100%;
}
/* credits: https://css-tricks.com/stripes-css/ */
.stripes {
  background: repeating-linear-gradient(
    45deg,
    #b0ffe2,
    #b0ffe2 50px,
    #2c6651 150px,
    #2c6651 120px
  );
}
.clearwhite {
  background: radial-gradient(
    circle,
    #ebeaea,
    #ebeaea 50%,
    #ffffff 50%, 
    #ffffff
  );
  background-size: 20px 20px;
}